*
{ margin: 0; }

#titulo
{
	font-size: 30px;
	color: white;
	width: 50%;
	margin-left: 1%;
padding-top: 6%;
}
header{
	border-radius: 10px 10px 0px 0px;
	font-family: 'Open Sans',dancing script ;
	width: 900px;
	margin: 0 auto;
	height: 150px;
	background:  #5b7989;
	text-shadow: 2px 2px #02010a;
}
nav{
font-size: 30px;
float: right;
margin: 10px auto;
margin-top: -35px;
margin-right: 20px;

}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes mianimacion {
  0%   {top: 150px;}
  60%  {top: 5px;}
  100% {top: 0px;}

}

  a{
		font-family: 'Open Sans',dancing script ;
		text-shadow: 2px 2px #02010a;
		 position: relative;
		 font-weight: normal;
		 color: white;
		 margin: 10px 15px;
		 -webkit-animation: mianimacion 5s infinite; /* Safari 4.0 - 8.0 */
		  animation: mianimacion 5s infinite;
			text-decoration: none;

  }


#wrapper{
	width: 900px;
	margin: 0 auto;
}


#fondo{
	background: #02010a;
	width: 100%;
}


/*estilos de las 3 imgenes de la pagina principal y de
 los enlaces que estan debajo */


 #columna1
    {
 background-color: #82c3a6;
}

#columna2{
 width: 50%;

}
#columna3{
 width: 50%;
}

  #img1 {
	width: 100%;
	margin-top: 3%;
	margin-bottom: 3%;
 }


#img2{
	width: 100%;
	margin-top: 5%;
	margin-bottom: 10%;
	border: black 1px solid;

}
#img3{
	width: 100%;
	margin-top: 5%;
	margin-bottom
	: 10%;
	border: black 1px solid;
}

/*Aqui estan las animaciones cuando se coloca
el pontero sobre el abjeto en este caso imagenes1 y 2*/
#img2:hover{
transform: rotate(10deg);
-webkit-box-shadow: 20px 20px 20px  #82c3a6;
  -moz-box-shadow: 20px 20px 20px  #82c3a6;
	border: black 2px solid;
}

#img3:hover{
	transform: translate(20px,-5px);
border: black 2px solid;
-webkit-box-shadow: 20px 20px 20px  #82c3a6;
  -moz-box-shadow: 20px 20px 20px  #82c3a6;

}
/*aqui los estilos de los enlaces debajo de fotos 2y3*/
#enlace1{
	display: block;
	margin-top: -10%;
text-decoration: none;
font-size: 35px;
color: black;
font-family: 'Open Sans',dancing script ;
padding-left: 35%;
text-shadow: 2px 2px #02010a;
}
#enlace2{
	display: block;
	margin-top: -10%;
text-decoration: none;
font-size: 35px;
color: black;
font-family: 'Open Sans',dancing script ;
padding-left: 35%;
text-shadow: 2px 2px #02010a;
}
/*Aqui estan los estilos con flex-box pars el footer*/

.contenedorfooter{
	background-color: #C6d5c5;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	border-radius: 0px 0px 10px 10px ;
	font-family: 'Open Sans',dancing script ;
}
.cajaf1{
	order: 1;
flex-grow: 1;
}
.cajaf2{
order: 2;
flex-grow: 1;
margin-top: 1%;
}
.cajaf3{
	order: 3;
	flex-grow: 1;
	margin-top: 1%;
}
.cajaf4{
	order: 4;
	flex-grow: 1;
	margin-top: 1%;
}
#logos{
margin-top: 5%;
width: 20%;
float: left;
margin-left: -4%;
text-align: right;
}
#t1{
	font-size: 20px;
	margin-top: 33px;

}
#t2{
	font-size: 20px;
margin-top: 29px
}
#t3{
	font-size: 20px;
	margin-top: 28px;
}
#t4{
	font-size: 20px;
	margin-top: 23px;
}
#t5{
	font-size: 20px;
	margin-top: 23px;
}
#t6{
	font-size: 20px;
	margin-top: 23px;
}
#t7{
	font-size: 20px;
	margin-top: 23px;
}
#t8{
	font-size: 20px;
	margin-top: 23px;
}
#t9{
	font-size: 20px;
	margin-top: 23px;
}#t10{
	font-size: 20px;
	margin-top: 23px;
}
@media screen and (max-width: 614px){
	.contenedorfooter{
		flex-direction: column;
	}
}
@media screen and (max-width: 614px){
	#titulo{
		width: 100%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 614px){
	nav{
		width: 100%;
		margin: 0 auto;
		margin-top: 5px;
	}
}

	.contenedor{
		display: flex;
		background-color:  #d5c75f;

	}
	@media screen and (max-width: 360px){
		header{
			font-size: 25px;
		}
	}



	}
	header{
		font-size: 25px
	}
}
/*desde aqui estan los diseños adaptativos */
@media screen and (max-width: 960px){

	#wrapper
	{
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 640px){
.contenedorpadre

	{
		width: 100%
	}
}

@media screen and (max-width: 480px){

#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	#columna1
	{
	width: 100%;
	margin: 0 auto;

	}
	#columna2
	{
	width: 100%;
	}
	#columna3
	{
	width: 100%;
	}
	@media screen and (max-width: 640px){
		#enlace1{
		font-size: 18px;
		}
	}
	@media screen and (max-width: 640px){
		#enlace2{
		font-size: 18px;
		}
	}

	header
	{
	width:100%;
	}
}
@media screen and (max-width: 640px){
	.contenedor{
		display: block;
	}
}
figure{
width: 80%;
margin: 0 auto;
height: 90%;

}
